In [1]:
import pandas as pd
import numpy as np

In [11]:
stock_data = pd.read_csv(r"C:\Users\gursi\Downloads\sharpe-ratio-calc\data\stock_data.csv",usecols=["Date","Symbol","Close"])
nifty_data = pd.read_csv(r"C:\Users\gursi\Downloads\sharpe-ratio-calc\data\nifty_data.csv",usecols=["Date","Close"])
stock_data.tail()

            Date  Symbol   Close
7425  2019-12-23  MARICO  336.60
7426  2019-12-24  MARICO  333.60
7427  2019-12-26  MARICO  339.25
7428  2019-12-27  MARICO  340.80
7429  2019-12-30  MARICO  342.65

In [10]:
nifty_data['Symbol']='NIFTY 50'
nifty_data = nifty_data[['Date','Symbol','Close']]
nifty_data.tail()

            Date    Symbol     Close
2472  2019-12-23  NIFTY 50  12262.75
2473  2019-12-24  NIFTY 50  12214.55
2474  2019-12-26  NIFTY 50  12126.55
2475  2019-12-27  NIFTY 50  12245.80
2476  2019-12-30  NIFTY 50  12255.85

In [12]:
num_symbols=stock_data['Symbol'].nunique()

In [15]:
stock_data_clean=stock_data.pivot_table(index="Date",columns="Symbol",values="Close")
stock_data_clean.tail()

Symbol          ACC  HINDUNILVR  MARICO
Date
2019-12-23  1467.25     1950.40  336.60
2019-12-24  1460.60     1946.40  333.60
2019-12-26  1451.70     1944.95  339.25
2019-12-27  1451.30     1949.90  340.80
2019-12-30  1453.05     1937.25  342.65

KeyError: 'Symbol'

In [25]:
log_return= np.log(1+stock_data_clean.pct_change())

random_weights = np.array(np.random.random(num_symbols))

rebalance_weights = random_weights / np.sum(random_weights)

exp_return = np.sum((log_return.mean()*rebalance_weights)*252)

exp_volat = np.sqrt(
np.dot(
rebalance_weights.T,np.dot(log_return.cov()*252,rebalance_weights)))

sharpe_ratio = (exp_return-.01)/exp_volat
print(sharpe_ratio)

0.5909754581479123

In [18]:
returns = np.log(nifty_data['Close'] / nifty_data['Close'].shift(1))
volatility = returns.std() * np.sqrt(252) 
sharpe_ratio_nift = (returns.mean() - 0.05) / volatility
sharpe_ratio_nift

-0.32348438166835525